
<section id="faq" class="mt-2 mb-5">
  <div class="container">
    <h2 class="header w-100 pb-3">Gyakran ismételt kérdések</h2>
    <h4 class="mt-4 mb-3">Fizetés és kézbesítés</h4>
    <div class="accordion" id="accordionPaymentsAndDelivery">
      <div class="card mt-1 rounded-0 p-0 " [ngClass]="pinkBorder[0]  ? 'pinkborder' : ''" >
        <div class="card-header -m-1 p-0" id="headingPaymentsOne">
          <h2 class="mb-0">
            <button (click)="setBorder(0)" class="btn btn-block text-left collapsed  d-flex justify-content-between py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapsePaymentsOne" aria-expanded="false" aria-controls="collapsePaymentsOne">
              <span>Milyen fizetési lehetőségeim vannak?</span>
              <span>{{pinkBorder[0] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>

        <div id="collapsePaymentsOne" class="collapse " aria-labelledby="headingPaymentsOne" data-parent="#accordionPaymentsAndDelivery">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card mt-1 rounded-0 p-0" [ngClass]="pinkBorder[1]  ? 'pinkborder' : ''" >
        <div class="card-header -m-1 p-0" id="headingPaymentsTwo">
          <h2 class="mb-0">
            <button (click)="setBorder(1)" class="btn btn-block text-left collapsed  d-flex justify-content-between py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapsePaymentsTwo" aria-expanded="false" aria-controls="collapsePaymentsTwo">
              <span>Milyen szállítási opciók vannak?</span>
              <span>{{pinkBorder[1] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>
        <div id="collapsePaymentsTwo" class="collapse" aria-labelledby="headingPaymentsTwo" data-parent="#accordionPaymentsAndDelivery">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-4 mb-3">Problémám merült fel az oldalon</h4>
    <div class="accordion" id="accordionProductProblems">
      <div class="card mt-1 rounded-0 p-0" [ngClass]="pinkBorder[2]  ? 'pinkborder' : ''" >
        <div class="card-header -m-1 p-0" id="headingProductProblemsOne">
          <h2 class="mb-0">
            <button (click)="setBorder(2)"  class="btn btn-block text-left collapsed  d-flex justify-content-between  py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapseProductProblemsOne" aria-expanded="false" aria-controls="collapseProductProblemsOne">
              <span>Milyen szállítási opciók vannak?</span>
              <span>{{pinkBorder[2] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>

        <div id="collapseProductProblemsOne" class="collapse" aria-labelledby="headingProductProblemsOne" data-parent="#accordionProductProblems">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card mt-1 rounded-0 p-0" [ngClass]="pinkBorder[3]  ? 'pinkborder' : ''" >
        <div class="card-header -m-1 p-0" id="headingProductProblemsTwo">
          <h2 class="mb-0">
            <button (click)="setBorder(3)"  class="btn btn-block text-left collapsed d-flex justify-content-between py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapseProductProblemsTwo" aria-expanded="false" aria-controls="collapseProductProblemsTwo">
              <span>Milyen szállítási opciók vannak?</span>
              <span>{{pinkBorder[3] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>
        <div id="collapseProductProblemsTwo" class="collapse " aria-labelledby="headingProductProblems" data-parent="#accordionProductProblems">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-4 mb-3">Mit tegyek, ha nem vagyok elégedett a termékekkel?</h4>
    <div class="accordion" id="accordionProblems">
      <div class="card mt-1 rounded-0 p-0"  [ngClass]="pinkBorder[4]  ? 'pinkborder' : ''">
        <div class="card-header -m-1 p-0" id="headingProblemsOne">
          <h2 class="mb-0">
            <button (click)="setBorder(4)"  class="btn btn-block text-left collapsed d-flex justify-content-between py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapseProblemsOne" aria-expanded="true" aria-controls="collapsePaymentsOne">

              <span>Mit tegyek, ha nem vagyok megelégedve a rendelt termékkel?</span>
              <span>{{pinkBorder[4] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>

        <div id="collapseProblemsOne" class="collapse" aria-labelledby="headingProblemsOne" data-parent="#accordionProblems">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card mt-1 rounded-0 p-0"  [ngClass]="pinkBorder[5]  ? 'pinkborder' : ''">
        <div class="card-header -m-1 p-0" id="headingProblemsTwo">
          <h2 class="mb-0">
            <button (click)="setBorder(5)"  class="btn btn-block text-left collapsed d-flex justify-content-between py-3 px-4 rounded-0" type="button" data-toggle="collapse" data-target="#collapseProblemsTwo" aria-expanded="false" aria-controls="collapsePaymentsTwo">

              <span>Levásárolhatom az összeget, ha nem vagyok megelégedve?</span>
              <span>{{pinkBorder[5] ? '-' : '+'}}</span>
            </button>
          </h2>
        </div>
        <div id="collapseProblemsTwo" class="collapse" aria-labelledby="headingProblemsTwo" data-parent="#accordionProblems">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
