
<section id="contact-form" class="mt-2 mb-5">
  <div class="container">
    <h2 class="header w-100 pb-3">Kapcsolat</h2>
    <div class="my-4">További kérdése van, részleges tájékoztatásra van szüksége? Írjon nekünk, keresse munkatársainkat!</div>
    <form class="row flex justify-content-between">
      <div class="col-12 col-md-6 my-4">
        <div class="form-group mr-2">
          <input type="text" class="form-control custom-input" id="contact-firstname">
          <label for="contact-firstname" class="col-form-label text-dark text-capitalize">Vezetéknév</label>
        </div>
      </div>
      <div class="col-12 col-md-6 my-4">
        <div class="form-group mr-2">
          <input type="text" class="form-control custom-input" id="contact-lastname">
          <label for="contact-lastname" class="col-form-label text-dark text-capitalize">Keresztnév</label></div>
      </div>
      <div class="col-12 col-md-6 my-4">
        <div class="form-group mr-2">
          <input type="text" class="form-control custom-input" id="contact-email">
          <label for="contact-email" class="col-form-label text-dark text-capitalize">Email</label></div>
      </div>
      <div class="col-12 col-md-6 my-4">
        <div class="form-group mr-2">
          <input type="password" class="form-control custom-input" id="contact-orderid">
          <label for="contact-orderid" class="col-form-label text-dark text-capitalize">Rendelési azonosító</label></div>
      </div>

      <div class="oup col-12 my-4 mb-5">
        <div class="form-group mr-2">
          <label for="contact-message" class="col-form-label text-dark text-capitalize">Üzenet</label>
          <textarea class="form-control custom-input" rows="3" id="contact-message"></textarea></div>
      </div>
      <div class="col-12 row mt-5 d-flex align-items-center justify-content-between">
        <div class="col-12 col-md-6  mb-3  mb-md-0">
          <input type="checkbox" class="custom-checkbox" id="accept-terms-of-conditions">
          <label for="accept-terms-of-conditions" >Elfogadom az <span class="font-weight-bold text-decoration-underline">Adatvédelmi Nyilatkozat</span>-ot</label>
        </div>
        <div class="col-12 col-md-6 d-flex align-content-end">
          <button type="submit" class="btn btn-small btn-block p-3 text-uppercase">Küldés</button>
        </div>
      </div>
    </form>
  </div>
</section>
