<section class="product-details mb-5">
  <div *ngIf="loading; else loaded" class="vh-100 w-100 d-flex align-items-center justify-content-center">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ng-template #loaded>
  <div class="container">
    <div class="row">
      <!-- BREADCRUMB -->
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-5">
        <!-- CARD > CAROUSEL -->
        <div class="shadow-lg p-3">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item" [ngClass]="i === 0 ? 'active' : ''" *ngFor="let image of product.sliderImages; let i = index">
                <img class="d-block w-100" [src]="image" alt="First slide">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column p-5">
        <!-- DESCRIPTION + ADD TO CART -->
        <h6><span class="badge badge-dark rounded-0 px-3 py-2">Új! </span></h6>
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <div class="d-flex">
          <span style="color: #dc386d" class="mr-4 font-weight-bold">{{product.discountedPrice}} Ft/db</span>
          <span class="text-decoration-line-through">{{product.price}} Ft/db</span>
        </div>
        <form [formGroup]="formItemToBasket" (ngSubmit)="addToBasket()" class="d-flex flex-column">
          <div>
            <label for="add-qty" class="sr-only">Mennyiség megadása</label>
            <input type="number" formControlName="quantity" id="add-qty" class="input-add-item-count py-2 text-center rounded-0 border-0" style="width: 50px; background-color: #f5f5f5;
  -webkit-appearance: none;"> <span class="font-weight-bold ml-2">db</span>
          </div>
          <button type="submit" class="mt-4 btn btn-small p-3 text-uppercase" style="background-color: #dc386d; color: white; width: 200px;">Kosárba rakom</button>
        </form>
      </div>
    </div>
    <div class="row d-flex flex-column shadow-lg">
      <ul class="nav nav-tabs bg-transparent" role="tablist">
        <li class="nav-item">
          <a class="nav-link nav-tab-link px-5 py-3 active text-uppercase text-uppercase" data-toggle="tab" href="#tabs-1" role="tab">Leírás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab-link px-5 py-3 text-uppercase" data-toggle="tab" href="#tabs-2" role="tab">Összetevők</a>
        </li>
      </ul><!-- Tab panes -->
      <div class="tab-content p-5">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque eligendi esse eum exercitationem illo ipsam itaque iusto, mollitia necessitatibus nulla officia omnis perferendis porro quaerat ratione sint totam ullam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque eligendi esse eum exercitationem illo ipsam itaque iusto, mollitia necessitatibus nulla officia omnis perferendis porro quaerat ratione sint totam ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque eligendi esse eum exercitationem illo ipsam itaque iusto, mollitia necessitatibus nulla officia omnis perferendis porro quaerat ratione sint totam ullam.</p>
        </div>
        <div class="tab-pane" id="tabs-2" role="tabpanel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at atque autem beatae consequuntur deserunt doloremque, ducimus eius magni minus modi, nulla numquam obcaecati odio optio repellat ullam unde voluptatum. </p>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</section>
