<!-- Modals -->
<div id="loginModal" class="modal fade py-3" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" #closeLoginModal data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5">
        <h3 class="modal-title mb-3">Bejelentkezés</h3>
        <div class="mb-5">

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control custom-input" id="email">
              <label for="email" class="col-form-label">E-mail</label>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control custom-input" id="password">
              <label for="password" class="col-form-label">Jelszó</label>
            </div>
          </form>
        </div>

        <a class="font-weight-bold my-3" style="color: #dc386d">Elfelejtett jelszó</a>
        <button (click)="onLogin()" type="button" class="mt-4 btn btn-small p-3  btn-block text-uppercase">Bejelentkezés</button>
        <div class="mt-3 py-3">
          <span>Nincs még fiókod? <a class=" font-weight-bold" style="color: #dc386d" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Regisztrálok</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" #closeRegisterModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5">
        <h3 class="modal-title mb-3">Regisztráció</h3>
        <div class="mb-5">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="mb-3">
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control custom-input" id="email-register">
              <label for="email-register" class="col-form-label">E-mail</label>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control custom-input" id="password-register">
              <label for="password-register" class="col-form-label">Jelszó</label>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password2" class="form-control custom-input" id="password-again-register">
              <label for="password-again-register" class="col-form-label">Jelszó újra</label>
            </div>
          </form></div>
        <div>
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms" class="col-form-label">Elfogadom az <a class="font-weight-bold my-3" style="color: #dc386d">adatvédelmi nyilatkozatot</a></label>
        </div>
        <button (click)="onRegister()" type="button" class="mt-5 btn btn-small p-3  btn-block text-uppercase">Bejelentkezés</button>
        <div class="mt-3 py-3">
          <span>Van már fiókod? <a class=" font-weight-bold" style="color: #dc386d" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Bejelentkezés</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="topbar">
    <nav class=" navbar navbar-dark navbar-expand px-5">
      <ul class="ml-auto navbar-nav mt-2 mt-lg-0">
        <li *ngIf="!user; else userLoggedIn" class="nav-item active">
          <a class="nav-link text-uppercase" href="#"  data-toggle="modal" data-target="#loginModal"
          >
                        <span class="d-md-none d-inline-block "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
                            <path fill-rule="evenodd" fill="white" d="M10.5 5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm.061 3.073a4 4 0 10-5.123 0 6.004 6.004 0 00-3.431 5.142.75.75 0 001.498.07 4.5 4.5 0 018.99 0 .75.75 0 101.498-.07 6.005 6.005 0 00-3.432-5.142z"></path></svg></span>
            <span class="d-none d-md-inline-block pl-md-2 " >Bejelentkezés</span>
            <span class="sr-only">(current)</span></a>

        </li>

        <ng-template #userLoggedIn>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDetailsDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{user.username ? user.username : user.email}}
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userDetailsDropdown"
            >
              <a class="dropdown-item" [routerLink]="['account']">Profilom</a>
              <a class="dropdown-item" [routerLink]="['account/orders']">Rendeléseim</a>
              <a class="dropdown-item" (click)="logout()">Kijelentkezés</a>
            </div>
          </li>

        </ng-template>
        <li class="nav-item active text-sm">
          <a class="nav-link text-uppercase" [routerLink]="['account/basket']"
          >Kosár ({{basketTotal.value}} Ft) <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownLang"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            HU
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownLang"
          >
            <a class="dropdown-item" href="#">HU</a>
            <a class="dropdown-item" href="#">EN</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownCurrency"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            HUF
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownCurrency"
          >
            <a class="dropdown-item" href="#">HUF</a>
            <a class="dropdown-item" href="#">EUR</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <nav class=" navbar navbar-light navbar-expand-md d-flex py-2 py-md-4 px-5">
      <a class="navbar-brand" style="font-size: 2em;" href="#">Beni's</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-0 ml-md-auto navbar-nav mt-2 mt-lg-0">
          <li class="nav-item active">
            <a
              class="nav-link text-uppercase font-weight-bold ml-3"
              style="color: #7a233c;"
              [routerLink]="['/']"
            >Főoldal <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link text-uppercase font-weight-bold ml-3"
              style="color: #7a233c;"
              [routerLink]="['/products']"
            >Édességek <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link text-uppercase font-weight-bold ml-3"
              style="color: #7a233c;"
              [routerLink]="['/gyik']"
            >GYIK <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link text-uppercase font-weight-bold ml-3"
              style="color: #7a233c;"
              [routerLink]="['/contact']"
            >Kapcsolat <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
