/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn {
  background-color: #dc386d;
  color: white;
  border: none;
  border-radius: 0;
  min-width: 70px;
  &:hover {
    background-color: #ef417a;
    color: white;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

.topbar {
  background-color: #7a233c;
  //    height: 50px;
}
.hero {
  position: relative;
  height: 60vh;
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/mae-mu-_C5zsV_p-YI-unsplash.png) no-repeat
    center center;
    filter: brightness(1.1);
  }
}

.text-decoration{
  &-line-through {
    text-decoration: line-through !important;
  }
  &-decoration-underline {
    text-decoration: underline !important;
  }
}


.offers {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(96, 15, 15, 0.9), rgba(96, 15, 15,0.9)),
    url(assets/luis-aguila-xLvIcAYuuMQ-unsplash.png)
    center center;
  }

  &-inside {
    position: relative;
  }

}

.jumbotron {
  margin-bottom: 0;
}

.modal-backdrop {
  background: rgb(60,58,58)  !important;
  background: -moz-linear-gradient(0deg, rgb(45, 43, 43) 0%, rgba(120,20,54,1) 100%)  !important;
  background: -webkit-linear-gradient(0deg, rgb(45, 44, 44) 0%, rgba(120,20,54,1) 100%)  !important;
  background: linear-gradient(0deg, rgb(47, 45, 45) 0%, rgba(120,20,54,1) 100%)  !important;
  opacity: 0.95 !important;

}

.custom-input {
  border: 0;
  border-bottom: 1px solid;
}

.product {
  &-card {
    transition: background-color 0.5s;

    &:hover {
      // background-color: #eee4e4;

    }

    &-container:hover {
      &:nth-child(2):first-child {
        content: ''
      }
    }

    &-btn {
      padding: 0.5rem 1rem;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      outline: none;
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
      &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -750px;
        opacity: .5;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 10;
      }
      &:hover:after {
        left: 120%;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      }
    }
    &-image {
      transform: scale(1.2);
      transition: transform 0.5s;
      &:hover {
        transform: scale(1);
      }
    }
  }

}

.product

.custom-input:focus {
  border-radius: 0;
  outline: none !important;
}
input.form-control {
  border-radius: 0;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.form-group {

   height: 3em;
   margin: 1em 0;
   position: relative;
   width: 100%;


  & input,
  & label {
    cursor: text;
    font-size: 1em;
    font-weight: 200;
    position: absolute;
    transition: all 0.15s ease;
    width: 100%;
  }

  & input {
    border-bottom: 1px solid;
    border-radius: 0px;
    height: 60px;
    padding: 20px 20px 0;
    outline: none;
  }

  .form-group label {
    color: #9B9B9B;
    font-weight: 400;
    line-height: 60px;
    padding: 0 20px;
    text-transform: uppercase;

  }

  .form-group input.filled ~ label,
  .form-group input:focus ~ label {
    font-size: .7em;
    position: absolute;
    margin-top: -12px;

  }
}

.header {
  border-bottom: #dc386d 4px solid;
}

footer {
  border-top: 4px solid ;
  border-image:
    linear-gradient(to right, #dc386d 0%, #ffb3b5 100%) 1;

}

.accordion>.card {
  border: 0 !important;
  padding-top: 2px;
  box-shadow: none;// !important;
}

h2 {
  & .btn.collapsed {
    background:#f5f5f5;
    color: black !important;
  }
  & .btn:not(.collapsed) {
    background: linear-gradient(to right, #dc386d, #ffb3b5 );
    color: white !important;
  }
}
.pinkborder{
  -webkit-box-shadow: 0px 0px 20px -2px rgba(220,56,109,1) !important;
  -moz-box-shadow: 0px 0px 20px -2px rgba(220,56,109,1) !important;
  box-shadow: 0px 0px 20px -2px rgba(220,56,109,1) !important;
  z-index: 99;
}

.modal-content {
  border: 0 !important;;
  border-radius: 0 !important;
}

.page-item {
  &-number {
    color: #fff !important;
    text-decoration: none;
    &:hover {
      color: #dc386d !important;
      text-decoration: none;
    }
  }
  &-active {
    color: #dc386d !important;
    text-decoration: none;
  }
}

.nav-tabs {
  border: 0;
  border-radius: 0 !important;
  & .nav-link {
    border: 0;
    border-radius: 0;
  }
}
.nav-tab {
  &-link {
    color: #dc386d !important;
  }

  &-link.active {
    background-color: #dc386d !important;
    color: white !important;
  }

}

  .search-box {
    border-radius: 0 !important;
    z-index: 10;
    width: 93%;
  }

  @media only screen and (min-width: 600px) {
    .search-box {
      border-radius: 0 !important;
      z-index: 10;
      width: 95%;
    }
  }
  @media only screen and (max-width: 600px) {

    .hero {
      height: 50vh;
    }
  }

  .dropdown-item:hover {
    color: #dc386d;
    background-color:  white;
  }

  .address-list-active {
    background-color: #dc386d;
    color: white;
  }


.carousel {
  &-inner  {
    margin-bottom: 2em;
  }

  &-indicators {
    & li {
      background-color: #999;
      background-color: rgba(70, 70, 70, 0.25);
      height: 10px;
      width: 10px;
      border: 10px;
      border-radius: 5px;

    }
    & .active {
      background-color: #dc386d;
    }
  }

  &-control {
    &-next,
    &-prev {
      display: inline-block !important;
      position: relative !important;
      height: 50px;
      width: 50px;
    }
    &-prev-icon,
    &-next-icon {
      height: 50px;
      width: 50px;
      outline: black;
      background-size: 100%, 100%;
      border: 2px solid white;
      background-image: none;
    }

    &-next-icon:after {
      content: "→";
      font-size: 25px;
      color: white;
    }

    &-prev-icon:after {
      content: "←";
      font-size: 25px;
      color: white;
    }
  }
}

.cntr {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cntr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.cntr:hover input ~ .checkmark {
  background-color: #ccc;
}

.cntr input:checked ~ .checkmark {
  // background-color: #fefefe;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cntr input:checked ~ .checkmark:after {
  display: block;
}

.cntr .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
