/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn {
  background-color: #dc386d;
  color: white;
  border: none;
  border-radius: 0;
  min-width: 70px;
}

.btn:hover {
  background-color: #ef417a;
  color: white;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border: 2px solid white;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: "→";
  font-size: 25px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: "←";
  font-size: 25px;
  color: white;
}

.topbar {
  background-color: #7a233c;
  //    height: 50px;
}
.hero {
  position: relative;
  height: 60vh;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/mae-mu-_C5zsV_p-YI-unsplash.png) no-repeat
  center center;
  filter: brightness(1.1);
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}

.carousel-control-next, .carousel-control-prev {
  display: inline-block !important;
  position: relative !important;
  height: 50px;
  width: 50px;
}
.carousel-inner  {
  margin-bottom: 2em;
}

.offers {
  position: relative;
}

.offers::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/luis-aguila-xLvIcAYuuMQ-unsplash.png)
  center center;
}

.offers-inside {
  position: relative;
}

.jumbotron {
  margin-bottom: 0;
}

.modal-backdrop {
  background: linear-gradient(90deg, rgba(82,25,41,1) 0%, rgba(78,29,43,1) 35%, rgba(0,0,0,1) 100%);
  opacity: 0.8 !important;

}

.custom-input {
  border: 0;
  border-bottom: 1px solid;
}

.product-image {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.product-image:hover {
  transform: scale(1);
}

.custom-input:focus {
  border-radius: 0;
  outline: none !important;
}
input.form-control {
  border-radius: 0;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}


.form-group {
  height: 3em;
  margin: 1em 0;
  position: relative;
  width: 100%;
}

.form-group input,
.form-group label {
  cursor: text;
  font-size: 1em;
  font-weight: 200;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;
}

.form-group input {
  border-bottom: 1px solid;
  border-radius: 0px;
  height: 60px;
  padding: 20px 20px 0;
  outline: none;
}

.form-group label {
  color: #9B9B9B;
  font-weight: 400;
  line-height: 60px;
  padding: 0 20px;
  text-transform: uppercase;

}

.form-group input.filled ~ label,
.form-group input:focus ~ label {
  font-size: .7em;
  position: absolute;
  margin-top: -12px;

}

.form-group input.filled ~ label {
  /*color: #007932; */
}

.header {
  border-bottom: #dc386d 4px solid;
}

footer {
  border-top: 4px solid ;
  border-image:
    linear-gradient(to right, #dc386d 0%, #ffb3b5 100%) 1;

}

.accordion>.card {
  border: 0 !important;
  padding-top: 2px;
  box-shadow: none !important;
}

h2 .btn.collapsed {
  background:#f5f5f5;
  color: black !important;
}
h2 .btn:not(.collapsed) {
  background: linear-gradient(to right, #dc386d, #ffb3b5 );
  color: white !important;
}

.collapse div{
  /*background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #DC386D69;
  border-radius: 5px;
  opacity: 1;
  margin: 0 10px 10px 10px;

   */
}

.modal-content {
  border: 0 !important;;
  border-radius: 0 !important;
}

.page-item-number:hover {
  color: #dc386d !important;
  text-decoration: none;
}

.page-item-number {
  color: #fff !important;
  text-decoration: none;
}

.page-item-active {
  color: #dc386d !important;
  text-decoration: none;
}


.nav-tabs {
  border: 0;
  border-radius: 0 !important;
}

.nav-tab-link {
  color: #dc386d !important;
}

.nav-tab-link.active {
  background-color: #dc386d !important;
  color: white !important;
}

.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
  height: 10px;
  width: 10px;
  border: 10px;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #dc386d;
}

.search-box {
  border-radius: 0 !important;
  z-index: 10;
  width: 93%;
}

@media only screen and (min-width: 600px) {
  .search-box {
    border-radius: 0 !important;
    z-index: 10;
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {

  .hero {
    height: 50vh;
  }
}

.dropdown-item:hover {
  color: #dc386d;
  background-color:  white;
}
