<section class="jumbotron jumbotron-fluid hero" >
  <div class="container hero-content">
    <div class="row">
      <div class="col-12 col-md-6 mr-auto w-100">
        <div
          id="carouselControls"
          class="carousel slide mb-5"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active text-white">
              <h1>Lorem ipsum dolor</h1>
              <span>
                    sit amet, consectetur adipisicing elit. Iure pariatur
                    aliquam vitae rerum, quasi consequuntur magnam impedit</span
              >
            </div>
            <div class="carousel-item text-white">
              <h1>Lorem ipsum dolor</h1>
              <span>
                    sit amet, consectetur adipisicing elit. Iure pariatur
                    aliquam vitae rerum, quasi consequuntur magnam impedit</span
              >
            </div>
            <div class="carousel-item text-white">
              <h1>Lorem ipsum dolor</h1>
              <span>
                    sit amet, consectetur adipisicing elit. Iure pariatur
                    aliquam vitae rerum, quasi consequuntur magnam impedit</span
              >
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselControls"
            role="button"
            data-slide="prev"
          >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselControls"
            role="button"
            data-slide="next"
          >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Search box -->
    <app-search-bar></app-search-bar>
    <!-- Search box -->
  </div>
</section>
<app-product-offers></app-product-offers>
<app-partners></app-partners>
