
<section id="partners" class="mb-5">
  <div class="container d-flex flex-column">
    <h3 class="align-self-center  mb-4  mt-5">Partnerek</h3>
    <div class="row d-flex justify-content-md-between justify-content-center">
      <img src="assets/cola.png" alt="logo" class="mx-2 my-5 col-8 col-md-2 py-4" >
      <img src="assets/hell.svg" alt="logo" class="mx-2 col-8 col-md-2 py-4" >
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2 col-8 col-md-2 py-4 py-md-4" >
      <img src="assets/snickers.png" alt="logo" class="mx-2 col-8 my-5 col-md-2 py-2 py-md-5" >
      <img src="assets/twix.png" alt="logo" class="mx-2 col-8 my-5 col-md-2 py-2 py-md-5" >
    </div>
  </div>
</section>
