
<section id="partners" class="mb-5">
  <div class="container d-flex flex-column">
    <h3 class="align-self-center  mb-4  mt-5">Partnerek</h3>
    <div class="row d-flex justify-content-md-between justify-content-center">
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2" >
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2" >
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2" >
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2" >
      <img src="assets/logo%20copy.svg" alt="logo" class="mx-2" >
    </div>
  </div>
</section>
